# Default ignored files
/shelf/
/workspace.xml
#Ignore the res folder
NBody_BarnesHut/res/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
